{% extends 'base1.html' %}

{% block code %}
<!-- ======= Hero Section ======= -->


<section id="hero">
  <div class="hero-container">
    <form action="" enctype="multipart/form-data" method="post">
      <center>
        <b><h1 style="color:rgb(244, 31, 31)" data-aos="fade-up">{{msg}}</h1></b>
      </center>
      {% csrf_token %}
      <center>
        <label for="algo" data-aos="fade-up">
          <h2 style="color:rgb(244, 31, 31)">Choose Algorithm:</h2>
        </label>
        <br>
        <select name="algo" id="algo" style="width: 500px; height: 50px;" data-aos="fade-up">
          <option value="">Choose Module</option>
          <option value="2">DecisionTree</option>
          <option value="1">RandomForest</option>
          <option value="3">GradientBoosting</option>
        </select>
        <br><br>
        <button type="submit" class="btn btn-primary" style="width: 500px;" color="black;" data-aos="fade-up" data-aos-delay="300">Submit</button>
      </center>
    </form>
  </div>
</section><!-- End Hero -->
{% endblock %}
