<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Crime Report</title>
</head>
<body>
    <h1>Daily Crime Report</h1>
    <p>Welcome, {{ user.email }}!</p>
    <p>Here's the daily crime report:</p>
    <!-- Display the daily crime report -->
    <embed src="{% url 'crime_report_pdf' %}" type="application/pdf" width="100%" height="600px" />
    
    <hr>
    
    <h2>Report a Crime</h2>
    <a href="{% url 'report_crime' %}">Report a Crime</a>
</body>
</html>
